* {
  box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    background-color: #fff;
    color: #fff;
    margin: 0;
    padding: 0;
  }
  .card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .card {
    width: 98vw; /* Ubah ukuran card menjadi sekitar 95% dari lebar layar */
    height: 46vh;
    background-color: #333333; /* Ubah warna card dengan saturasi yang berbeda */
    border-radius: 15px;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    color: white;
    margin-top: 10px;
    /* Tambah sedikit space di luar card */
    position: relative; /* Menambahkan posisi relatif */
    overflow-x: scroll;
  }
  .list {
    overflow-y: scroll;
    overflow-x: scroll;
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-left: 3px;
  }
  .list-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }

  .list-item2 {
    display: flex;
    justify-content: space-between;
  }
  .list-item-header {
    display: flex;
    justify-content: space-between;
  }
  .list-item-header .span1 {
    flex: 1;
    text-align: left;
    align-items: center;
  }
  .list-item-header .span2 {
    flex: 1;
    text-align: center;
  }
  .list-item-header .span3 {
    flex: 1;
    text-align: right;
  }
  .list-item img {
    width: 50px;
    height: 50px;
    margin-right: 5%;
  }
  .list-item .text {
    margin-right: 1rem;
  }
  .card-header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5px;
  }
  
  .card-header img {
    width: 50px;
    margin-right: 10px;
  }
  
  
  .separator {
    border-bottom: 2px solid #ffffff;
    margin-bottom: 10px;
  }
  .separator0 {
    border-bottom: 2px solid #ffffff;
  }
.sidenav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  background-color: #111; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  right: 0;
}

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left .5s;
  padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
@media screen and (min-width: 760px) {
  .list-item .text {
    margin-right: 10rem;
  }
}
@media screen and (min-width: 860px) {
  .list-item .text {
    margin-right: 20rem;
  }
}
@media screen and (min-width: 1024px) {
  .list-item .text {
    margin-right: 18rem;
  }
}
@media screen and (min-width: 1360px) {
  .list-item .text {
    margin-right: 30rem;
  }
}

