body {
  background-color: #f8f9fa;
}

.navbar {
  background-color: #343a40;
}

.nav-link {
  color: #fff !important;
}

.nav-link:hover {
  color: #fff !important;
}

.container {
  margin-top: 50px;
}

.list-group-item {
  border: none;
}